{% include "header.html" %}

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2><em>Cashdesk</em> Kasse</h2>
      </div>
      <div class="col-md-8 pushdown">
        <button class="btn btn-primary" id="kasse-wechselgeld">Wechselgeld eingeben</button>
        <button class="btn btn-success" id="kasse-starten" disabled="disabled">Kasse starten</button>
        <button class="btn btn-danger" id="kasse-abrechnen" disabled="disabled">Kasse abrechnen</button>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="bonrolle" class="bonrolle"></div>
      </div>
      <div class="col-md-8 pushdown">
        <div class="panel panel-info hidden" id="anzahl-panel">
          <div class="panel-heading">Anzahl</div>
          <div class="panel-body">
            <button class="btn btn-lg btn-default btn-anzahl" data-anzahl="1">1</button>
            <button class="btn btn-lg btn-default btn-anzahl" data-anzahl="2">2</button>
            <button class="btn btn-lg btn-default btn-anzahl" data-anzahl="3">3</button>
            <button class="btn btn-lg btn-default btn-anzahl" data-anzahl="4">4</button>
            <button class="btn btn-lg btn-default btn-anzahl" data-anzahl="5">5</button>
            <button class="btn btn-lg btn-default btn-anzahl" data-anzahl="6">6</button>
            <button class="btn btn-lg btn-default btn-anzahl" data-anzahl="7">7</button>
            <button class="btn btn-lg btn-default btn-anzahl" data-anzahl="8">8</button>
            <button class="btn btn-lg btn-default btn-anzahl" data-anzahl="9">9</button>
            <button class="btn btn-lg btn-default btn-anzahl" data-anzahl="10">10</button>
            <button class="btn btn-lg btn-default" id="mehrals10">&gt; 10</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="clearfix">&nbsp;</div>
      </div>
    </div>
    <div class="row hidden">
      <div class="col-md-4">
        <div class="panel panel-info" id="ean-panel">
          <div class="panel-heading">EAN</div>
          <div class="panel-body">
            <input type="text" id="ean" name="ean" class="form-control" />
          </div>
        </div>
      </div>
      <div class="col-md-8">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <input type="hidden" id="anzahl" name="anzahl" value="1" class="form-control" />
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="anzahl-eingeben">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Anzahl eingeben</h4>
        </div>
        <div class="modal-body">
          <input type="number" id="mehr-anzahl" class="form-control" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Abbruch</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" id="mehr-anzahl-ok"><span class="glyphicon glyphicon-ok"></span> OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="modal-wechselgeld">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Wechselgeld eingeben</h4>
        </div>
        <div class="modal-body">
          <div>
            <input type="number" id="wechselgeld" class="form-control" />
          </div>
          <div class="pushdown">
            <button class="btn btn-default btn-wechselgeld" data-wg="50">&euro; 50</button>
            <button class="btn btn-default btn-wechselgeld" data-wg="100">&euro; 100</button>
            <button class="btn btn-default btn-wechselgeld" data-wg="150">&euro; 150</button>
            <button class="btn btn-default btn-wechselgeld" data-wg="200">&euro; 200</button>
            <button class="btn btn-default btn-wechselgeld" data-wg="250">&euro; 250</button>
            <button class="btn btn-default btn-wechselgeld" data-wg="300">&euro; 300</button>
            <button class="btn btn-default btn-wechselgeld" data-wg="350">&euro; 350</button>
            <button class="btn btn-default btn-wechselgeld" data-wg="400">&euro; 400</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Abbruch</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" id="wechselgeld-ok"><span class="glyphicon glyphicon-ok"></span> OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="modal-artikel-nicht-gefunden">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Artikel nicht gefunden</h4>
        </div>
        <div class="modal-body">
          <select name="artikelselect" id="artikelselect" class="form-control">
            {% for art in artikel %}
            <option value="{{ art['rowid'] }}">{{ art['artikelbezeichnung'] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Abbruch</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" id="artikelselect-ok"><span class="glyphicon glyphicon-ok"></span> OK</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    var stammdaten = {{ stammdaten|safe }};

  </script>

  <script type="text/javascript">

  var wechselgeld = 0;

  function scrollDown() {
    $("#bonrolle").scrollTop($("#bonrolle")[0].scrollHeight);
  }

  function addLine(line) {
    $('#bonrolle').append('<p>' + line + '</p>');
  }

  function addBlankLine() {
    $('#bonrolle').append('<p>&nbsp;</p>');
  }

  function addSpacer() {
      star = "*";
      spacer = star.repeat(40);
      addLine(spacer);
  }

  function addDivisor() {
    dash = "-";
    div = dash.repeat(40);
    addLine(div);
  }

  function addTotalSumDivisor() {
    dash = "=";
    div = dash.repeat(40);
    addLine(div);
  }

  function addLineCentered(line) {

    var l = line.length;
    var leer = "&nbsp;";
    var pad = (40 - l) / 2;

    if(pad % 2 == 0) {
      out = leer.repeat(pad) + line + leer.repeat(pad);
    }
    else {
      out = leer.repeat(Math.round(pad)) + line + leer.repeat(Math.round(pad));
    }

    addLine(out);

  }

  function zeroPad(num) {

    if(num >= 0 && num < 10) {
      num = '0' + num;
    }
    return num;
  }

  function bonHeader() {

    addLineCentered(stammdaten.firmenname);
    addBlankLine();
    addLineCentered(stammdaten.inhaber);
    addLineCentered(stammdaten.strasse + ' ' + stammdaten.hausnummer);
    addLineCentered(stammdaten.plz.toString() + ' ' + stammdaten.ort);
    addBlankLine();

  }

  function buildItemLine(data) {

    leer = "&nbsp;";
    artbez = data.artikelbezeichnung;
    artbez = artbez.substring(0, 16).toUpperCase();
    preis = data.vkpreis.toString();

    if(anzahl >= 999) {
      anzahl = 999;
    }

    if(anzahl <= 0) {
      anzahl = 1;
    }

    if(anzahl > 1) {
      gesamtpreis = anzahl * preis;
      gp = gesamtpreis.toFixed(2).toString();
    }

    if(anzahl > 1) {
      pad = 40 - artbez.length - gp.length;
      line = artbez + leer.repeat(pad) + gp;
      addLine(line);

      anz = anzahl.toString();
      line = leer.repeat(3 - anz.length) + anz + leer.repeat(1) + "x" + leer.repeat(16 - preis.length) + preis;
      addLine(line);

    }
    else {
        pad = 40 - artbez.length - preis.length;
        line = artbez + leer.repeat(pad) + preis;
        addLine(line);
    }


  }

  $('#kasse-wechselgeld').on('click', function() {

    $('#modal-wechselgeld').modal();

  });

  $('.btn-wechselgeld').on('click', function() {

    wg = $(this).data('wg');
    $('#wechselgeld').val(wg);

  });

  $('#wechselgeld-ok').on('click', function() {
    wechselgeld = $('#wechselgeld').val();
  })

  $('#wechselgeld').on('keydown', function(e) {

    var keycode = e.keyCode || e.which;

    if(keycode == 13) {
      $('#wechselgeld-ok').click();

    }

  });

  $('#modal-wechselgeld').on('shown.bs.modal', function() {
    $('#wechselgeld').focus();
  });

  $('#modal-wechselgeld').on('hidden.bs.modal', function() {

    if(wechselgeld > 0) {
      $('#kasse-wechselgeld').attr('disabled', 'disabled');
      $('#kasse-starten').removeAttr('disabled');

      var now = new Date();

      bonHeader();
      addDivisor();
      addBlankLine();
      addLineCentered("Kassenstartbeleg");
      addBlankLine();
      addLineCentered('WECHSELGELD: EUR ' + wg.toFixed(2).toString());
      addBlankLine();
      addLineCentered('DATUM: ' + zeroPad(now.getDate()) + '.' + zeroPad(now.getMonth()) + '.' + now.getFullYear() + ' UHRZEIT: ' + zeroPad(now.getHours()) + ':' + zeroPad(now.getMinutes()));
      addBlankLine();
      addDivisor();

    }

  });

  $('#ean').focus();

  $('#ean').on('keydown', function(e) {

    var keycode = e.keyCode || e.which;

    if(keycode == 13) {

      var ean = $(this).val();
      var anzahl = $('#anzahl').val();

      $.ajax({
        url: '/ajax/artikel/byean',
        method: 'POST',
        data: { 'ean': ean },
        success: function(result) {
          if(result != 'null') {

            data = JSON.parse(result);

            buildItemLine(data);

            $('.btn-anzahl').removeClass('btn-success');
            $('#mehrals10').removeClass('btn-success');
            $('#anzahl').val('');
            scrollDown();
            $('#ean').val('');
            $('#ean').focus();
          }
          else {
            $('#modal-artikel-nicht-gefunden').modal();
          }

        }
      });
    }

  });

  $('.btn-anzahl').on('click', function() {

    $('.btn-anzahl').removeClass('btn-success');
    anzahl = $(this).data('anzahl');
    $('#anzahl').val(anzahl);
    $(this).addClass('btn-success');
    $('#ean').focus();

  });

  $('#mehrals10').on('click', function() {
    $('#anzahl-eingeben').modal();
  });

  $('#anzahl-eingeben').on('shown.bs.modal', function() {
    $('#mehr-anzahl').val('');
    $('#mehr-anzahl').focus();
  });

  $('#anzahl-eingeben').on('hidden.bs.modal', function() {
    $('#ean').focus();
  });

  $('#modal-artikel-nicht-gefunden').on('hidden.bs.modal', function() {
    $('#ean').val('');
    $('#ean').focus();
  });

  $('#mehr-anzahl-ok').on('click', function() {
    anzahl = $('#mehr-anzahl').val();
    $('#anzahl').val(anzahl);
    if(anzahl > 10)
    {
      $('.btn-anzahl').removeClass('btn-success');
      $('#mehrals10').addClass('btn-success');
    }
    else {
      $('#mehrals10').removeClass('btn-success');
      $('.btn-anzahl').removeClass('btn-success');
      $(".btn-anzahl[data-anzahl='" + anzahl + "']").addClass('btn-success');
    }
  });

  $('#mehr-anzahl').on('keydown', function(e) {
    var keycode = e.keyCode || e.which;

    if(keycode == 13) {
        $('#mehr-anzahl-ok').click();
    }
  });

  $('#artikelselect-ok').on('click', function() {

    artikel_id = $('#artikelselect').val();
    $.ajax({
      url: '/ajax/artikel/byid',
      method: 'POST',
      data: { 'id': artikel_id },
      success: function(result) {
        data = JSON.parse(result);

        buildItemLine(data);

        $('.btn-anzahl').removeClass('btn-success');
        $('#mehrals10').removeClass('btn-success');
        $('#anzahl').val('');
        scrollDown();
        $('#ean').val('');
        $('#ean').focus();
      }
    });

  });

  </script>


{% include "footer.html" %}
