{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-primary" href="/artikel/neu/{{ selwgr['rowid'] }}"><span class="glyphicon glyphicon-plus"></span> Neuen Artikel anlegen</a>
        </div>
        <div class="col-md-6 text-right">
          <select name="warengruppe" class="form-control col-md-3" onchange="javascript:if(this.selectedIndex==0){document.location.href='/artikel'}else{document.location.href='/artikel/' + this[this.selectedIndex].value;}">
              <option value=""></option>
            {% for wgr in warengruppen %}
              <option value="{{ wgr['rowid'] }}"{% if wgr['rowid'] == selwgr['rowid'] %} selected="selected"{% endif %}>{{ wgr['bezeichnung'] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <h3>Artikelverwaltung</h3>
      <table class="table table-striped table-condensed">
        <thead>
          <th>Artikelbezeichnung</th>
          <th>Bestand</th>
          <th>VK-Preis</th>
          <th class="text-right">Optionen</th>
        </thead>
        <tbody>
          {% for art in artikel %}
          <tr>            
            <td>{{ art['artikelbezeichnung'] }}</td>
            <td>{{ art['bestand'] }}</td>
            <td>&euro; {{ '{0:0.2f}'.format(art['vkpreis']) }}</td>
            <td class="text-right">
              <a class="btn btn-xs btn-info" href="/artikel/info/{{ art['rowid'] }}"><span class="glyphicon glyphicon-info-sign"></span> Info</a>
              {% if art['bundle'] and art['bestand'] > 0 %}
              <a class="btn btn-xs btn-primary" href="/artikel/bundle/auspacken/{{ art['rowid'] }}"><span class="glyphicon glyphicon-gift"></span> Auspacken</a>
              {% endif %}
              <a class="btn btn-xs btn-default" href="/artikel/kopieren/{{ art['rowid'] }}"><span class="glyphicon glyphicon-copy"></span> Kopieren</a>
              <a class="btn btn-xs btn-default" href="/artikel/bearbeiten/{{ art['rowid'] }}"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</a>
              {% if art['archiviert'] == 0 or art['archiviert'] == None %}
              <a class="btn btn-xs btn-danger" href="/artikel/archivieren/{{ art['rowid'] }}"><span class="fa fa-archive"></span> Archivieren</a>
              {% else %}
              <a class="btn btn-xs btn-success" href="/artikel/wiederherstellen/{{ art['rowid'] }}"><span class="fa fa-archive"></span> Wiederherstellen</a>
              {% endif %}
            </td>
          {% endfor %}
        </tbody>

      </table>



    </div> <!-- /container -->

{% include "footer.html" %}
