{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <a class="btn btn-primary" href="/artikel/neu">Neuen Artikel anlegen</a>
      <h3>Artikelverwaltung</h3>
      <table class="table table-striped table-condensed">
        <thead>
          <th>Artikelnummer</th>
          <th>Artikelbezeichnung</th>
          <th>Bestand</th>
          <th>EK-Preis</th>
          <th>VK-Preis</th>
          <th>Optionen</th>
        </thead>
        <tbody>
          {% for art in artikel %}
          <tr>
            <td>{{ art[1] }}</td>
            <td>{{ art[2] }}</td>
            <td>{{ art[3] }}</td>
            <td>&euro; {{ '{0:0.2f}'.format(art[4]) }}</td>
            <td>&euro; {{ '{0:0.2f}'.format(art[5]) }}</td>
            <td>
              <a class="btn btn-default" href="/artikel/bearbeiten/{{ art[0] }}">Bearbeiten</a> <a class="btn btn-danger" href="/artikel/loeschen/{{ art[0] }}">L&ouml;schen</a>
            </td>
          {% endfor %}
        </tbody>

      </table>



    </div> <!-- /container -->

{% include "footer.html" %}
