{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <a class="btn btn-primary" href="/ausgangsrechnungen/neu">Neuen Rechnung schreiben</a>
      <h3>Ausgangsrechnungen</h3>
      <table class="table table-striped table-condensed">
        <thead>
          <th>Rechnungsnummer</th>
          <th>Datum</th>
          <th>Kunde</th>
          <th>Umsatz</th>
          <th>Rohgewinn</th>
          <th>Optionen</th>
        </thead>
        <tbody>
          {% for rechnung in rechnungen %}
          <tr>
            <td>{{ rechnung[1] }}</td>
            <td>{{ rechnung[2] }}</td>
            <td>{{ rechnung[3] }}</td>
            <td>&euro; {{ '{0:0.2f}'.format(rechnung[4]) }}</td>
            <td>&euro; {{ '{0:0.2f}'.format(rechnung[5]) }}</td>
            <td>
              <a class="btn btn-default" href="/ausgangsrechnung/bearbeiten/{{ rechnung[0] }}">Bearbeiten</a> <a class="btn btn-danger" href="/ausgangsrechnung/stornieren/{{ rechnung[0] }}">Storno</a>
            </td>
          {% endfor %}
        </tbody>

      </table>



    </div> <!-- /container -->

{% include "footer.html" %}
