{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <h3>{{ page_title }}</h3>

      <form class="form-horizontal" method="post" action="/ausgangsrechnungen/speichern/step1">
          <div class="form-group">
            <label for="kunden_id" class="col-sm-2 control-label">Kunde</label>
            <div class="col-sm-4">
              <select name="kunden_id" id="kunden_id" class="form-control">
                {% for kunde in kunden %}
                  <option value="{{ kunde['rowid'] }}">{{ kunde['nachname'] }}, {{ kunde['vorname'] }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-default" href="#" data-toggle="modal" data-target="#neuerKunde"><span class="glyphicon glyphicon-plus"></span> Neuer Kunde</a>
            </div>
          </div>
          <div class="form-group">
            <label for="rechnungsdatum" class="col-sm-2 control-label">Rechnungsdatum</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" name="rechnungsdatum" id="rechnungsdatum" />
            </div>
            <div class="col-sm-1">
              <a class="btn btn-default" href="#" onclick="document.getElementById('rechnungsdatum').valueAsDate = new Date();"><span class="glyphicon glyphicon-calendar"></span> Heute</a>
            </div>
          </div>
          <div class="form-group">
            <label for="zahlungsart" class="col-sm-2 control-label">Zahlungsart</label>
            <div class="col-sm-4">
              <select name="zahlungsart" id ="zahlungsart" class="form-control">
                  <option value="1">Barzahlung</option>
                  <option value="2">Überweisung</option>
                  <option value="3">Lastschrift</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="zahlungsstatus" class="col-sm-2 control-label">Zahlungsstatus</label>
            <div class="col-sm-4">
              <select name="zahlungsstatus" id ="zahlungsstatus" class="form-control">
                  <option value="0">Offen</option>
                  <option value="1">Bezahlt</option>
              </select>
            </div>
          </div>
          <input type="hidden" name="storniert" value="0" />
          <input type="hidden" name="storno_rechnungsnummer" value="0" />
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Speichern und weiter</button>
          <a href="/ausgangsrechnungen" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Abbruch</a>

      </form>

    </div> <!-- /container -->

    <form class="form-horizontal" method="post" id="kundeneu-form">
    <div class="modal fade" id="neuerKunde" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" <span>&times;</span></button>
            <h4 class="modal-title" id="neuerKundeLabel">Neuer Kunde</h4>
          </div>
          <div class="modal-body">


            <div class="form-group">
              <label for="anrede" class="col-sm-2 control-label">Anrede</label>
              <div class="col-sm-2">
                <select name="anrede" class="form-control">
                  <option value="Frau">Frau</option>
                  <option value="Herr">Herr</option>
                </select>
              </div>
              <label for="titel" class="col-sm-2 control-label">Titel</label>
              <div class="col-sm-2">
                <select name="titel" class="form-control">
                  <option value=""></option>
                  <option value="Dr.">Dr.</option>
                  <option value="Prof.">Prof.</option>
                  <option value="Prof. Dr.">Prof. Dr.</option>
                  <option value="Dr. Dr.">Dr. Dr.</option>
                  <option value="Prof Dr. Dr.">Prof. Dr. Dr.</option>
                </select>
              </div>
            </div>
              <div class="form-group">
                <label for="nachname" class="col-sm-2 control-label">Nachname</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="nachname" name="nachname" />
                </div>
                <label for="vorname" class="col-sm-1 control-label">Vorname</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="vorname" name="vorname" />
                </div>
              </div>
              <div class="form-group">
                <label for="nachname" class="col-sm-2 control-label">Strasse</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="strasse" name="strasse" />
                </div>
                <label for="hausnummer" class="col-sm-1 control-label">Hausnr.</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="hausnummer" name="hausnummer" />
                </div>
              </div>
              <div class="form-group">
                <label for="plz" class="col-sm-2 control-label">PLZ</label>
                <div class="col-sm-2">
                  <input type="number" maxlength="5" class="form-control" id="plz" name="plz" />
                </div>
                <label for="ort" class="col-sm-1 control-label">Ort</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="ort" name="ort" />
                </div>
              </div>
              <div class="form-group">
                <label for="telefonnummer" class="col-sm-2 control-label">Telefon</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="telefonnummer" name="telefonnummer" />
                </div>
                <label for="telefaxnummer" class="col-sm-1 control-label">Fax</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="telefaxnummer" name="telefaxnummer" />
                </div>
                <label for="mobilnummer" class="col-sm-1 control-label">Handy</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="mobilnummer" name="mobilnummer" />
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="email" name="email" />
                </div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
            <button type="submit" id="kundeneu-speichern" class="btn btn-primary">Speichern</button>
        </div>
      </div>
    </form>

    </div>

    <script type="text/javascript">

     var request;

      $('#kundeneu-form').submit(function(event) {
        event.preventDefault();

        if(request) {
          request.abort();
        }

        var $form = $(this);

        var $inputs = $form.find("input");

        var serData = $form.serialize();

        $inputs.prop("disabled", true);

        request = $.ajax({
          url: '/kunden/ajax/speichern',
          method: 'POST',
          data: serData,
          success: function(data) {
            $('#kunden_id').empty();
            data = JSON.parse(data);
            for(i=0;i<data[0].length;i++) {
              $('<option />').val(data[0][i].rowid).text(data[0][i].nachname + ', ' + data[0][i].vorname).appendTo('#kunden_id');
            }

            $('#kunden_id').val(data[1]);
            $('#neuerKunde').modal('hide');
          }
        });


      });

    </script>

{% include "footer.html" %}
