{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <a class="btn btn-primary" href="/ausgangsrechnungen/neu">Neue Rechnung schreiben</a>
      <h3>Ausgangsrechnungen</h3>
      <table class="table table-striped table-condensed">
        <thead>
          <th>Nr.</th>
          <th>Datum</th>
          <th>Kunde</th>
          <th>Umsatz</th>
          <th>Rohgewinn</th>
          <th>Gedruckt</th>
          <th>Bezahlt</th>
          <th>Optionen</th>
        </thead>
        <tbody>
          {% for rechnung in rechnungen %}
          <tr>
            <td>{{ rechnung['rechnungsnummer'] }}</td>
            <td>{{ rechnung['rechnungsdatum'] }}</td>
            <td>{{ rechnung['nachname'] }}, {{ rechnung['vorname'] }}</td>
            <td>&euro; {{ '{0:0.2f}'.format(rechnung['umsatz']) }}</td>
            <td>&euro; {{ '{0:0.2f}'.format(rechnung['rohgewinn']) }}</td>
            <td>{% if rechnung['gedruckt'] == 1 %}<span class="glyphicon glyphicon-ok text-success"></span></a>{% else %}<span class="glyphicon glyphicon-remove text-danger"></span>{% endif %}</td>
            <td>{% if rechnung['zahlungsstatus'] == 1 %}<span class="glyphicon glyphicon-ok text-success"></span></a>{% else %}<span class="glyphicon glyphicon-remove text-danger"></span>{% endif %}</td>
            <td>
              {% if rechnung['storniert'] == 0 and rechnung['storno_rechnungsnummer'] == 0 and rechnung['gedruckt'] == 0%}
              <a class="btn btn-xs btn-default" href="/ausgangsrechnungen/neu/step2/{{ rechnung['rechnungsnummer'] }}">Bearbeiten</a>
              {% endif %}
              <a class="btn btn-xs btn-default" target="_rechnungsausgabe" href="/ausgangsrechnungen/pdfrenderer/drucken/{% if rechnung['storniert'] == 0%}rechnung{% else %}gutschrift{% endif %}/{{ rechnung['rechnungsnummer'] }}">Drucken</a>
              {% if rechnung['zahlungsstatus'] == 0 %}
              <button class="btn btn-xs btn-success" id="btn-rechnung-verbuchen" data-id="{{ rechnung['rechnungsnummer'] }}" data-zahlungsart="{{ rechnung['zahlungsart'] }}">Als bezahlt verbuchen</button>
              {% endif %}
              {% if rechnung['storniert'] == 0 and rechnung['storno_rechnungsnummer'] == 0%}
              {% if rechnung['gedruckt'] == 0 %}
                <a class="btn btn-xs btn-danger" href="/ausgangsrechnungen/loeschen/{{ rechnung['rechnungsnummer'] }}">L&ouml;schen</a>
              {% else %}
                <a class="btn btn-xs btn-danger" href="/ausgangsrechnungen/stornieren/{{ rechnung['rechnungsnummer'] }}">Stornieren</a>
              {% endif %}
              {% endif %}
            </td>
          {% endfor %}
        </tbody>

      </table>

    </div> <!-- /container -->

    <form class="form-horizontal" method="post" id="rechnungverbuchen-form" action="/ausgangsrechnungen/verbuchen">
    <div class="modal fade" id="rechnung-verbuchen" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" <span>&times;</span></button>
            <h4 class="modal-title" id="neuerKundeLabel">Rechnung verbuchen</h4>
          </div>
          <div class="modal-body">

              <div class="form-group">
                <label for="zahlungsdatum" class="col-sm-3 control-label">Zahlungsdatum</label>
                <div class="col-sm-6">
                  <input type="date" class="form-control" id="zahlungsdatum" name="zahlungsdatum" />
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-default" onclick="event.preventDefault(); document.getElementById('zahlungsdatum').valueAsDate = new Date();">Heute</button>
                </div>
              </div>
              <div class="form-group">
                <label for="konto" class="col-sm-3 control-label">Zahlungsart</label>
                <div class="col-sm-9">
                  <span id="zahlungsart"></span>
                </div>
              </div>
              <div class="form-group">
                <label for="konto" class="col-sm-3 control-label">Konto</label>
                <div class="col-sm-9">
                  <select name="konto" class="form-control">
                  {% for konto in konten %}
                    <option value="{{ konto['rowid'] }}">{{ konto['bezeichnung'] }}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button type="submit" id="button-rechnung-verbuchen" class="btn btn-primary">Rechnung verbuchen</button>
                <input type="hidden" id="verbuchen-rechnungsnummer" name="rechnungsnummer" value="" />
            </div>
          </div>

      </div>

    </form>

    <script type="text/javascript">

      $('#btn-rechnung-verbuchen').on('click', function() {
        event.preventDefault();
        var id = $(this).data('id');
        var za = $(this).data('zahlungsart');
        switch(za) {
          case 1: out = "Barzahlung"; break;
          case 2: out = "Überweisung"; break;
          case 3: out = "Lastschrift"; break;
        }
        $('#zahlungsart').text(out);
        $('#verbuchen-rechnungsnummer').val(id);
        $('#rechnung-verbuchen').modal();

      });

    </script>


{% include "footer.html" %}
