{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <h3>{{ page_title}}</h3>

      <form class="form-horizontal" method="post" action="/ausgangsrechnungen/speichern/step3" id="rechnungausgeben-form">
          <div class="form-group">
            <label for="kunden_id" class="col-sm-2 control-label">Kunde</label>
            <div class="col-sm-4">
              <select name="kunden_id" id ="kunden_id" class="form-control">
                {% for kunde in kunden %}
                  <option value="{{ kunde['rowid'] }}"{% if kunde['rowid'] == rechnung['kunden_id'] %}selected="selected"{% endif %}>{{ kunde['nachname'] }}, {{ kunde['vorname'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="rechnungsnummer" class="col-sm-2 control-label">Rechnungsnummer</label>
            <div class="col-sm-2">
              <input type="number" class="form-control" name="rechnungsnummer-disabled" id="rechnungsnummer" disabled="disabled" value="{{ rechnung['rechnungsnummer'] }}">
              <input type="hidden" name="rechnungsnummer" value="{{ rechnung['rechnungsnummer'] }}" />
            </div>
          </div>
          <div class="form-group">
            <label for="rechnungsdatum" class="col-sm-2 control-label">Rechnungsdatum</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" name="rechnungsdatum" id="rechnungsdatum" value="{{ rechnung['rechnungsdatum'] }}"/>
            </div>
            <div class="col-sm-1">
              <a class="btn btn-default" href="#" onclick="document.getElementById('rechnungsdatum').valueAsDate = new Date();">Heute</a>
            </div>
          </div>
          <div class="form-group">
            <label for="zahlungsart" class="col-sm-2 control-label">Zahlungsart</label>
            <div class="col-sm-4">
              <select name="zahlungsart" id ="zahlungsart" class="form-control">
                  <option value="1"{% if rechnung['zahlungsart'] == 1 %}selected="selected"{% endif %}>Barzahlung</option>
                  <option value="2"{% if rechnung['zahlungsart'] == 2 %}selected="selected"{% endif %}>Überweisung</option>
                  <option value="3"{% if rechnung['zahlungsart'] == 3 %}selected="selected"{% endif %}>Lastschrift</option>
                  <option value="4"{% if rechnung['zahlungsart'] == 4 %}selected="selected"{% endif %}>Ratenzahlung</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="zahlungsstatus" class="col-sm-2 control-label">Zahlungsstatus</label>
            <div class="col-sm-4">
              <select name="zahlungsstatus" id ="zahlungsstatus" class="form-control">
                  <option value="0"{% if rechnung['zahlungsstatus'] == 0 %}selected="selected"{% endif %}>Offen</option>
                  <option value="1"{% if rechnung['zahlungsstatus'] == 1 %}selected="selected"{% endif %}>Bezahlt</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-default">Speichern und ausgeben</button>
          <a href="/ausgangsrechnungen" class="btn btn-danger">Abbruch</a>
          <hr />
          <h4>Rechnungspositionen</h4>
        </form>
        <form class="form-inline" action="/ausgangsrechnungen/position/speichern" method="post">
          <table class="table">
              <thead>
                <th class="col-xs-1">#</th>
                <th class="col-xs-1">Anzahl</th>
                <th class="col-xs-4">Artikelbezeichnung</th>
                <th class="col-xs-1">Einzelpreis</th>
                <th class="col-xs-1">Rabatt %</th>
                <th class="col-xs-1">Gesamtpreis</th>
                <th class="col-xs-4">Optionen</th>
              </thead>
              <tbody>
              {% for pos in positionen %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>
                    {{ pos['anzahl'] }}
                  </td>
                  <td>
                    {{ pos['artikelbezeichnung'] }}
                  </td>
                  <td class="text-right">&euro; {{ '{0:0.2f}'.format(pos['vkpreis']) }}</td>
                  <td>{{ '{0:0.2f}'.format(pos['rabatt']) }}</td>
                  {% set pos_gesamt = pos['anzahl'] * pos['rabattpreis'] %}
                  <td class="text-right">&euro; {{ '{0:0.2f}'.format(pos_gesamt) }}</td>
                  <td>
                      <button class="btn btn-default btn-xs editbutton" data-id="{{ pos['positions_id'] }}">Bearbeiten</button>
                      <a class="btn btn-danger btn-xs" href="/ausgangsrechnungen/position/loeschen/{{ pos['positions_id'] }}">L&ouml;schen</a>
                  </td>
                </tr>
              {% endfor %}
              <tr>
                <td>{{ idx }}</td>
                <td>
                  <select name="anzahl" id="anzahl" class="form-control">
                    {% for i in range(1,100) %}
                      <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select name="artikel_id" id="artikelselect" class="form-control">
                    <option value="0"></option>
                  {% for art in artikel %}
                    <option value="{{ art['rowid'] }}">{{ art['artikelbezeichnung'] }}</option>
                  {% endfor %}
                </select>
                </td>
                <td id="einzelpreis" class="text-right">&euro; 0.00</td>
                <td><input type="number" class="form-control" name="rabatt" id="rabatt" value="0.00" /></td>
                <td id="gesamtpreis" class="text-right">&euro; 0.00</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3">
                  <strong>{{ einstellungen['ustsatz'] }}% Mehrwertsteuer {% if einstellungen['kleinunternehmer'] == '1' %}(wird nicht angegeben){% endif %}</strong>
                </td>
                <td colspan="3" class="text-right">
                  <strong>&euro; {{ '{0:0.2f}'.format(ust) }}</strong>
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2">
                  <strong>Gesamtsumme</strong>
                </td>
                <td colspan="4" class="text-right">
                  <strong>&euro; {{ '{0:0.2f}'.format(gesamtpreis) }}</strong>
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2">
                  <strong>Rohgewinn</strong>
                </td>
                <td colspan="4" class="text-right">
                  <strong>&euro; {{ '{0:0.2f}'.format(rohgewinn) }}</strong>
                </td>
                <td>&nbsp;</td>
              </tr>
              </tbody>
          </table>
          <input type="hidden" id="einzelpreis-hidden" />
          <button type="submit" class="btn btn-default">Positionen speichern</button>
          <input type="hidden" name="rechnungs_id" value="{{ rechnung['rechnungsnummer'] }}" />
      </form>

    </div> <!-- /container -->

    <div class="modal fade" tabindex="-1" role="dialog" id="position-bearbeiten">
      <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Position bearbeiten</h4>
              </div>
              <div class="modal-body">
                <form class="form" action="/ausgangsrechnungen/position/bearbeiten" id="form-position-bearbeiten" method="post">
                  <table class="table">
                    <thead>
                      <th class="col-xs-1">Anzahl</th>
                      <th class="col-xs-4">Artikelbezeichnung</th>
                      <th class="col-xs-1">Einzelpreis</th>
                      <th class="col-xs-1">Rabatt %</th>
                      <th class="col-xs-1">Gesamtpreis</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <select name="anzahl" id="bearbeiten-anzahl" class="form-control">
                            {% for i in range(1,100) %}
                              <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                          </select>
                        </td>
                        <td>
                          <select name="artikel_id" id="bearbeiten-artikelselect" class="form-control">
                          {% for art in artikel %}
                            <option value="{{ art['rowid'] }}">{{ art['artikelbezeichnung'] }}</option>
                          {% endfor %}
                        </select>
                        </td>
                        <td id="bearbeiten-einzelpreis" class="text-right">&euro; 0.00</td>
                        <td><input type="number" class="form-control" name="rabatt" id="bearbeiten-rabatt" value="0.00" /></td>
                        <td id="bearbeiten-gesamtpreis" class="text-right">&euro; 0.00</td>
                      </tr>
                    </tbody>
                  </table>
                  <input type="hidden" id="bearbeiten-einzelpreis-hidden" />
                <input type="hidden" name="positions_id" id="positions_id" value="" />
                <input type="hidden" name="rechnungs_id" value="{{ rechnung['rechnungsnummer'] }}" />
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                  <button type="submit" id="kundeneu-speichern" class="btn btn-primary">Speichern</button>
              </div>
                </form>

              </div>
            </div>
    </div>


    <script type="text/javascript">

      $('#artikelselect').on('change', function() {

        $.ajax({
          url: '/artikel/ajax/preis/' + $('#artikelselect').val(),
          method: 'GET',
          success: function(data) {
            $('#einzelpreis').html("&euro; " + data);
            $('#einzelpreis-hidden').val(data);
            $('#gesamtpreis').html("&euro; " + $('#anzahl').val() * data);
          }


        });
      });

      $('#artikelselect').on('blur', function() {

        $.ajax({
          url: '/artikel/ajax/preis/' + $('#artikelselect').val(),
          method: 'GET',
          success: function(data) {
            $('#einzelpreis').html("&euro; " + data);
            $('#einzelpreis-hidden').val(data);
            $('#gesamtpreis').html("&euro; " + $('#anzahl').val() * data);
          }


        });
      });

      $('#bearbeiten-artikelselect').on('change', function() {

        $.ajax({
          url: '/artikel/ajax/preis/' + $('#bearbeiten-artikelselect').val(),
          method: 'GET',
          success: function(data) {
            var ep_mit_rabatt = data - ((data / 100) * $('#bearbeiten-rabatt').val());
            $('#bearbeiten-einzelpreis').html("&euro; " + data);
            $('#bearbeiten-einzelpreis-hidden').val(data);
            gesamt = $('#bearbeiten-anzahl').val() * ep_mit_rabatt;
            gesamt = gesamt.toFixed(2)
            $('#bearbeiten-gesamtpreis').html("&euro; " + gesamt);
          }


        });
      });

      $('#bearbeiten-artikelselect').on('blur', function() {

        $.ajax({
          url: '/artikel/ajax/preis/' + $('#bearbeiten-artikelselect').val(),
          method: 'GET',
          success: function(data) {
            var ep_mit_rabatt = data - ((data / 100) * $('#bearbeiten-rabatt').val());
            $('#bearbeiten-einzelpreis').html("&euro; " + data);
            $('#bearbeiten-einzelpreis-hidden').val(data);
            gesamt = $('#bearbeiten-anzahl').val() * ep_mit_rabatt;
            gesamt = gesamt.toFixed(2)
            $('#bearbeiten-gesamtpreis').html("&euro; " + gesamt);
          }


        });
      });

      $('#anzahl').on('change', function() {
        var gesamt = $('#anzahl').val() * $('#einzelpreis-hidden').val();
        gesamt = gesamt.toFixed(2);
        $('#gesamtpreis').html("&euro; " + gesamt);
      });

      $('#anzahl').on('blur', function() {
        var gesamt = $('#anzahl').val() * $('#einzelpreis-hidden').val();
        gesamt = gesamt.toFixed(2);
        $('#gesamtpreis').html("&euro; " + gesamt);
      });

      $('#bearbeiten-anzahl').on('change', function() {
        var ep = $('#einzelpreis-hidden').val()
        var ep_mit_rabatt = ep - ((ep / 100) * $('#bearbeiten-rabatt').val());
        var gesamt = $('#anzahl').val() * ep_mit_rabatt;
        gesamt = gesamt.toFixed(2);
        $('#bearbeiten-gesamtpreis').html("&euro; " + gesamt);
        $('#bearbeiten-artikelselect').blur();
      });

      $('#bearbeiten-anzahl').on('blur', function() {
        var ep = $('#einzelpreis-hidden').val()
        var ep_mit_rabatt = ep - ((ep / 100) * $('#bearbeiten-rabatt').val());
        var gesamt = $('#anzahl').val() * ep_mit_rabatt;
        gesamt = gesamt.toFixed(2);
        $('#bearbeiten-gesamtpreis').html("&euro; " + gesamt);
        $('#bearbeiten-artikelselect').blur();
      });

      $('#rabatt').on('blur', function() {

        var ep = $('#einzelpreis-hidden').val();
        var rabatt = $(this).val();

        var ep_mit_rabatt = ep - ((ep / 100) * rabatt);

        $('#gesamtpreis').html("&euro; " + ($('#anzahl').val() * ep_mit_rabatt).toFixed(2));

      });

      $('#bearbeiten-rabatt').on('blur', function() {

        var ep = $('#bearbeiten-einzelpreis-hidden').val();
        var rabatt = $(this).val();

        var ep_mit_rabatt = ep - ((ep / 100) * rabatt);

        $('#bearbeiten-gesamtpreis').html("&euro; " + ($('#bearbeiten-anzahl').val() * ep_mit_rabatt).toFixed(2));

      });

      $('.editbutton').on('click', function() {
        event.preventDefault();
        var id = $(this).data('id');
        $.ajax({
          url: '/positionen/ajax/position/' + id,
          method: 'GET',
          success: function(data) {
              data = JSON.parse(data);
              $('#positions_id').val(data.rowid);
              $('#bearbeiten-anzahl').val(data.anzahl);
              $('#bearbeiten-artikelselect').val(data.artikel_id);
              $('#bearbeiten-rabatt').val(data.rabatt.toFixed(2));
              $('#bearbeiten-artikelselect').blur();
              $('#position-bearbeiten').modal();
          }

        });

        $(this).blur();
      });

    </script>

{% include "footer.html" %}
