{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <h3>Neue Ausgangsrechnung - Schritt 2</h3>

      <form class="form-horizontal" method="post" action="/ausgangsrechnungen/speichern/step2">
          <div class="form-group">
            <label for="kunden_id" class="col-sm-2 control-label">Kunde</label>
            <div class="col-sm-4">
              <select name="kunden_id" id ="kunden_id" class="form-control">
                {% for kunde in kunden %}
                  <option value="{{ kunde['rowid'] }}"{% if kunde['rowid'] == rechnung['kunden_id'] %}selected="selected"{% endif %}>{{ kunde['nachname'] }}, {{ kunde['vorname'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="rechnungsnummer" class="col-sm-2 control-label">Rechnungsnummer</label>
            <div class="col-sm-2">
              <input type="number" class="form-control" name="rechnungsnummer-disabled" id="rechnungsnummer" disabled="disabled" value="{{ rechnung['rowid'] }}">
              <input type="hidden" name="rechnungsnummer" value="{{ rechnung['rowid'] }}" />
            </div>
          </div>
          <div class="form-group">
            <label for="rechnungsdatum" class="col-sm-2 control-label">Rechnungsdatum</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" name="rechnungsdatum" id="rechnungsdatum" value="{{ rechnung['rechnungsdatum'] }}"/>
            </div>
            <div class="col-sm-1">
              <a class="btn btn-default" href="#" onclick="document.getElementById('rechnungsdatum').valueAsDate = new Date();">Heute</a>
            </div>
          </div>
          <button type="submit" class="btn btn-default">Speichern und ausgeben</button>
          <a href="/ausgangsrechnungen" class="btn btn-danger">Abbruch</a>
          <hr />
          <h4>Rechnungspositionen</h4>
        </form>
        <form class="form-inline" action="/ausgangsrechnungen/positionen/speichern" method="post">
          <table class="table">
              <thead>
                <th class="col-xs-1">#</th>
                <th class="col-xs-1">Anzahl</th>
                <th class="col-xs-4">Artikelbezeichnung</th>
                <th class="col-xs-1">Einzelpreis</th>
                <th class="col-xs-1">Rabatt</th>
                <th class="col-xs-1">Gesamtpreis</th>
                <th class="col-xs-4">Optionen</th>
              </thead>
              <tbody>
              {% set idx = 1 %}
              {% for pos in positionen %}
                <tr>
                  <td>{{ idx }}</td>
                  <td><input type="number" maxlength="3" size="1" name="position['anzahl']" /></td>
                  <td>
                    <select name="position['artikel_id']" id="artikelwahl">
                    {% for art in artikel %}
                      <option value="{{ art['row_id'] }}">{{ art['artikelbezeichnung'] }}</option>
                    {% endfor %}
                  </select>
                  </td>
                  <td class="text-right">&euro; {{ '{0:0.2f}'.format(pos['einzelpreis']) }}</td>
                  <td><input type="number" size="2" name="position['rabatt']" value="{{ pos['rabatt'] }}" /></td>
                  <td class="text-right">&euro; {{ '{0:0.2f}'.format(pos['gesamtpreis']) }}</td>
                  <td><a class="btn btn-danger btn-xs" href="/ausgangsrechnungen/position/loeschen/{{ pos['rowid'] }}">L&ouml;schen</a></td>
                </tr>
              {% set idx = idx +1 %}
              {% endfor %}
              <tr>
                <td>{{ idx }}</td>
                <td><input type="number" class="form-control" name="position['anzahl']" /></td>
                <td>
                  <select name="position['artikel_id']" class="form-control">
                  {% for art in artikel %}
                    <option value="{{ art['row_id'] }}">{{ art['artikelbezeichnung'] }}</option>
                  {% endfor %}
                </select>
                </td>
                <td id="artikelpreis" class="text-right">&euro; 0.00</td>
                <td><input type="number" class="form-control" name="position['rabatt']" /></td>
                <td id="gesamtpreis" class="text-right">&euro; 0.00</td>
                <td>&nbsp;</td>
              </tr>
              </tbody>
          </table>
          <button type="submit" class="btn btn-default">Positionen speichern</button>
      </form>

    </div> <!-- /container -->

    <script type="text/javascript">


    </script>

{% include "footer.html" %}
