{% include "header.html" %}

    {% include "nav.html" %}

    <div class="container">

      <button class="btn btn-primary" id="barverkauf-starten"><i class="glyphicon glyphicon-plus"></i> Barverkauf starten</button>

      <h3>{{ page_title }}</h3>
      {% if positionen|length > 0 %}
      <table class="table table-striped table-condensed">
        <thead>
          <th>#</th>
          <th>Artikelbezeichnung</th>
          <th>Anzahl</th>
          <th class="text-right">Einzelpreis</th>
          <th class="text-right">Gesamtpreis</th>
          <th class="text-right">Optionen</th>
        </thead>
        <tbody>
          {% for pos in positionen %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ pos['artikelbezeichnung'] }}</td>
            <td>{{ pos['anzahl'] }}{% if pos['bestandswarnung'] %} <i class="glyphicon glyphicon-exclamation-sign text-danger"></i>{% endif %}</td>
            <td class="text-right">&euro; {{ '{0:0.2f}'.format(pos['vkpreis']) }}</td>
            <td class="text-right">&euro; {{ '{0:0.2f}'.format(pos['vkpreis'] * pos['anzahl']) }}</td>
            <td class="text-right">
              <a class="btn btn-xs btn-danger" href="/barverkauf/stornieren/{{ pos['rowid'] }}"><i class="glyphicon glyphicon-remove"></i> L&ouml;schen</a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4"><strong>Gesamtsumme</strong></td>
            <td class="text-right">&euro; {{ '{0:0.2f}'.format(gesamtsumme) }}</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <br />
      {% endif %}
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading"><i class="glyphicon glyphicon-barcode"></i> EAN</div>
            <div class="panel-body">
              <input type="text" name="ean" id="ean" class="form-control" placeholder="Artikel scannen" disabled="disabled" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-plus"></i> Anzahl</div>
            <div class="panel-body text-center">
              <button class="btn btn-default button-anzahl" data-anzahl="1">1</button>
              <button class="btn btn-default button-anzahl" data-anzahl="2">2</button>
              <button class="btn btn-default button-anzahl" data-anzahl="3">3</button>
              <button class="btn btn-default button-anzahl" data-anzahl="4">4</button>
              <button class="btn btn-default button-anzahl" data-anzahl="5">5</button>
              <button class="btn btn-default button-anzahl" data-anzahl="6">6</button>
              <button class="btn btn-default button-anzahl" data-anzahl="7">7</button>
              <button class="btn btn-default button-anzahl" data-anzahl="8">8</button>
              <button class="btn btn-default button-anzahl" data-anzahl="9">9</button>
              <button class="btn btn-default button-anzahl" data-anzahl="10">10</button>
              <button class="btn btn-default" id="morethanthis">&gt; 10</button>
              <input type="hidden" name="anzahl" id="anzahl" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading"><i class="fa fa-star"></i> Aktionen</div>
            <div class="panel-body text-center">
              <a class="btn btn-success" href="/barverkauf/beenden"><i class="glyphicon glyphicon-ok"></i> Kassiervorgang abschlie&szlig;en</a>
              <a class="btn btn-danger" href="/barverkauf/abbruch"><i class="glyphicon glyphicon-remove"></i> Kassiervorgang abbrechen</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form action="/barverkauf/position/neu" method="post" id="position-neu-form">
      <input type="hidden" name="bon_id" value="{{ bon_id }}" id="bon_id" />
      <input type="hidden" name="pos_artikel_id" value="" id="pos_artikel_id" />
      <input type="hidden" name="pos_anzahl" value="" id="pos_anzahl" />
    </form>

      <div class="modal" tabindex="-1" role="dialog" id="anzahl-eingeben">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Anzahl eingeben</h4>
            </div>
            <div class="modal-body">
              <input type="number" id="mehr-anzahl" class="form-control" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Abbruch</button>
              <button type="button" class="btn btn-success" data-dismiss="modal" id="mehr-anzahl-ok"><span class="glyphicon glyphicon-ok"></span> OK</button>
            </div>
          </div>
        </div>
      </div>

    <script type="text/javascript">

      $(".button-anzahl[data-anzahl='1']").addClass('btn-success');
      $('#anzahl').val(1);
      if($('#bon_id').val() != '') {
        $('#barverkauf-starten').attr('disabled', 'disabled')
        $('#ean').removeAttr('disabled');
        $('#ean').focus();
      }

      $('.button-anzahl').on('click', function() {

        anz = $(this).data('anzahl');

        $('.button-anzahl').removeClass('btn-success');
        $('#morethanthis').removeClass('btn-success');
        $('#morethanthis').text('> 10');
        $(this).addClass('btn-success');
        $('#anzahl').val(anz);
        $('#ean').focus();

      });

      $('#morethanthis').on('click', function() {
        $('#anzahl-eingeben').modal();
      });

      $('#anzahl-eingeben').on('shown.bs.modal', function() {
        $('#mehr-anzahl').focus();
      });

      $('#anzahl-eingeben').on('hidden.bs.modal', function() {
        $('#anzahl').val($('#mehr-anzahl').val());
        $('.button-anzahl').removeClass('btn-success');
        $('#morethanthis').addClass('btn-success');
        $('#morethanthis').text($('#anzahl').val());
        $('#ean').focus();
      });

      $('#anzahl-eingeben').on('keydown', function(e) {
        var keycode = e.keyCode || e.which;
        if(keycode == 13) {
            $('#mehr-anzahl-ok').click();
        }

      });

      $('#ean').on('keydown', function(e) {

        if($('#bon_id').val() == '') return;

        var keycode = e.keyCode || e.which;

        if(keycode == 13) {

            var ean = $('#ean').val();

            $.ajax({

              url: '/barverkauf/ajax/artikel',
              method: 'POST',
              data: { 'ean': ean },
              success: function(result) {

                result = JSON.parse(result);

                if(result.artikelbezeichnung == '') {
                  $('#artikelnichtgefunden-modal').modal();
                }
                else {
                  $('#pos_artikel_id').val(result.rowid);
                  $('#pos_anzahl').val($('#anzahl').val());
                  $('#position-neu-form').submit();
                }

              }


            });
        }

      });

      $('#barverkauf-starten').on('click', function() {

        $.ajax({
          url: '/barverkauf/starten',
          method: 'GET',
          success: function(result) {
            result = JSON.parse(result);
            if(result.bon_id != '') {
              $('#bon_id').val(result.bon_id);
              $('#barverkauf-starten').attr('disabled', 'disabled');
              $('#ean').removeAttr('disabled');
              $('#ean').focus();
            }

          }

        });

      });


    </script>

{% include "footer.html" %}
