{% include "header.html" %}

    {% include "nav.html" %}

    <div class="container">

      <button class="btn btn-primary" id="barverkauf-starten"><i class="glyphicon glyphicon-plus"></i> Barverkauf starten</button>

      <h3>{{ page_title }}</h3>
      {% if positionen|length > 0 %}
      <table class="table table-striped table-condensed">
        <thead>
          <th>#</th>
          <th>Artikelbezeichnung</th>
          <th>Anzahl</th>
          <th class="text-right">Einzelpreis</th>
          <th class="text-right">Gesamtpreis</th>
          <th class="text-right">Optionen</th>
        </thead>
        <tbody>
          {% for pos in positionen %}
          <tr data-row="{{ pos['rowid'] }}">
            <td>{{ loop.index }}</td>
            <td>{{ pos['artikelbezeichnung'] }}</td>
            <td>
              <select data-id="{{ pos['rowid'] }}" class="anzahl">
                {% for i in range(1,100) %}
                  <option value="{{ i }}"{% if pos['anzahl'] == i %} selected="selected"{% endif %}>{{ i }}</option>
                {% endfor %}
              </select>
              {% if pos['bestandswarnung'] %} <i class="glyphicon glyphicon-exclamation-sign text-danger"></i>{% endif %}</td>
            <td class="text-right">&euro; {{ '{0:0.2f}'.format(pos['vkpreis']) }}</td>
            <td class="text-right">&euro; {{ '{0:0.2f}'.format(pos['vkpreis'] * pos['anzahl']) }}</td>
            <td class="text-right">
              <button class="btn btn-xs btn-danger deletebutton" data-id="{{ pos['rowid'] }}"><i class="glyphicon glyphicon-remove"></i> L&ouml;schen</button>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4"><strong>Gesamtsumme</strong></td>
            <td class="text-right">&euro; {{ '{0:0.2f}'.format(gesamtsumme) }}</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <br />
      {% endif %}
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading"><i class="glyphicon glyphicon-barcode"></i> EAN</div>
            <div class="panel-body">
              <input type="text" name="ean" id="ean" class="form-control" placeholder="Artikel scannen" disabled="disabled" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-plus"></i> Anzahl</div>
            <div class="panel-body text-center">
              <button class="btn btn-default button-anzahl" disabled="disabled" data-anzahl="1">1</button>
              <button class="btn btn-default button-anzahl" disabled="disabled" data-anzahl="2">2</button>
              <button class="btn btn-default button-anzahl" disabled="disabled" data-anzahl="3">3</button>
              <button class="btn btn-default button-anzahl" disabled="disabled" data-anzahl="4">4</button>
              <button class="btn btn-default button-anzahl" disabled="disabled" data-anzahl="5">5</button>
              <button class="btn btn-default button-anzahl" disabled="disabled" data-anzahl="6">6</button>
              <button class="btn btn-default button-anzahl" disabled="disabled" data-anzahl="7">7</button>
              <button class="btn btn-default button-anzahl" disabled="disabled" data-anzahl="8">8</button>
              <button class="btn btn-default button-anzahl" disabled="disabled" data-anzahl="9">9</button>
              <button class="btn btn-default button-anzahl" disabled="disabled" data-anzahl="10">10</button>
              <button class="btn btn-default" disabled="disabled" id="morethanthis">&gt; 10</button>
              <input type="hidden" name="anzahl" id="anzahl" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading"><i class="fa fa-star"></i> Aktionen</div>
            <div class="panel-body text-center">
              <button class="btn btn-success" disabled="disabled" id="barverkauf-abschliessen"><i class="glyphicon glyphicon-ok"></i> Kassiervorgang abschlie&szlig;en</button>
              <button class="btn btn-danger" disabled="disabled" id="barverkauf-abbrechen"><i class="glyphicon glyphicon-remove"></i> Kassiervorgang abbrechen</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form action="/barverkauf/position/neu" method="post" id="position-neu-form">
      <input type="hidden" name="bon_id" value="{{ bon_id }}" id="bon_id" />
      <input type="hidden" name="pos_artikel_id" value="" id="pos_artikel_id" />
      <input type="hidden" name="pos_anzahl" value="" id="pos_anzahl" />
      <input type="hidden" name="change_anzahl" value="0" id="change_anzahl" />
    </form>

    <form action="/barverkauf/position/aendern" method="post" id="position-aendern-form">
      <input type="hidden" name="pa_pos_id" value="" id="pa_pos_id" />
      <input type="hidden" name="pa_anzahl" value="" id="pa_anzahl" />
      <input type="hidden" name="pa_bon_id" value="{{ bon_id }}" id="pa_bon_id" />
    </form>

    <form action="/barverkauf/position/loeschen" method="post" id="position-loeschen-form">
      <input type="hidden" name="lo_pos_id" value="" id="lo_pos_id" />
      <input type="hidden" name="lo_bon_id" value="{{ bon_id }}" id="lo_bon_id" />
    </form>

    <div class="modal" tabindex="-1" role="dialog" id="anzahl-eingeben">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Anzahl eingeben</h4>
          </div>
          <div class="modal-body">
            <input type="number" id="mehr-anzahl" class="form-control" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Abbruch</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" id="mehr-anzahl-ok"><span class="glyphicon glyphicon-ok"></span> OK</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="barverkauf-abbrechen-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Barverkauf abbrechen</h4>
          </div>
          <div class="modal-body">
            Wollen Sie den Kassiervorgang wirklich abbrechen? Eingegebene Daten werden gel&ouml;scht!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Nein</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="barverkauf-abbrechen-ok"><span class="glyphicon glyphicon-ok"></span> Ja</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="barverkauf-abschliessen-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Barverkauf abschlie&szlig;en</h4>
          </div>
          <form action="/barverkauf/abschliessen" method="post">
          <div class="modal-body">

            <span class="text-center"><h2>Gesamtbetrag: &euro; <span id="gesamtbetrag-aus"></span></h2></span>
            <div class="clearfix">&nbsp;</div>

            <div class="panel panel-info">
              <div class="panel-heading">Zahlungsart w&auml;hlen</div>
              <div class="panel-body">

                <div class="row">
                  <div class="col-md-4 text-center">
                    <img src="/assets/bargeld.jpg" id="za-bar" class="img img-rounded cp za-selected" width="150" height="100" />
                    Bargeld
                  </div>
                  <div class="col-md-4 text-center">
                    <img src="/assets/eckarte.jpg" id="za-ec" class="img img-rounded cp" width="150" height="100" />
                    EC-Karte
                  </div>
                  <div class="col-md-4 text-center">
                    <img src="/assets/kreditkarte.jpg" id="za-cc" class="img img-rounded cp" width="150" height="100" />
                    Kreditkarte
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-info" id="za-bargeld-info">
              <div class="panel-heading">Barzahlung</div>
              <div class="panel-body">

                <div class="form-group">
                  <label for="za-bargeld-info-gesamtbetrag">Gesamtbetrag &euro;</label>
                  <input type="text" disabled="disabled" id="za-bargeld-info-gesamtbetrag" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="za-bargeld-info-gegeben">Gegeben &euro;</label>
                  <input type="text" id="za-bargeld-info-gegeben" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="za-bargeld-info-wechselgeld">Wechselgeld &euro;</label>
                  <input type="text" disabled="disabled" id="za-bargeld-info-wechselgeld" class="form-control" />
                </div>
              </div>
            </div>

            <div class="panel panel-info" id="za-karte-info">
              <div class="panel-heading">Kartenzahlung</div>
              <div class="panel-body">
                <p>
                  Bitte schlie&szlig;en Sie den Zahlungsvorgang <strong>erst</strong> &uuml;ber das Kartenleseger&auml;t ab und klicken
                  <strong>erst nach erfolgreicher Zahlung</strong> auf &quot;Abschlie&szlig;en und drucken&quot;!
                </p>
              </div>
            </div>

          </div>
          <input type="hidden" name="zahlungsart" id="zahlungsart" value="0" />
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Abbruch</button>
            <button type="submit" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Abschlie&szlig;en und drucken</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var gesamtsumme = {{ '{0:0.2f}'.format(gesamtsumme) }};
    </script>
    <script type="text/javascript" src="/assets/js/barverkauf.js?v{{ ts }}"></script>

{% include "footer.html" %}
