{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <a class="btn btn-primary" href="/briefe/neu"><span class="glyphicon glyphicon-plus"></span> Neuen Brief schreiben</a>
      <h3>{{ page_title }}</h3>
      <table class="table table-striped table-condensed">
        <thead>
          <th>Datum</th>
          <th>Empf&auml;nger</th>
          <th>Betreff</th>
          <th class="text-right">Optionen</th>
        </thead>
        <tbody>
          {% for brief in briefe %}
          <tr{% if brief['archiviert'] == 1 %} class="text-muted"{% endif %}>
            <td>{{ brief['datum'] }}</td>
            <td>
              {% if brief['empfaenger_typ'] == 1 %}
                {{ brief['empfaenger']['nachname'] }}, {{ brief['empfaenger']['vorname'] }}, {{ brief['empfaenger']['ort'] }}
              {% else %}
                {{ brief['empfaenger']['firmenname'] }}, {{ brief['empfaenger']['ort'] }}
              {% endif %}
            </td>
            <td>{{ brief['betreff'] }}</td>
            <td class="text-right">
              <a class="btn btn-xs btn-default" href="/briefe/pdfrenderer/drucken/{{ brief['rowid'] }}" target="_rechnungsausgabe"><span class="glyphicon glyphicon-print"></span> Drucken</a>
              <a class="btn btn-xs btn-default" href="/briefe/bearbeiten/{{ brief['rowid'] }}"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</a>
              {% if brief['archiviert'] == 0 %}
              <a class="btn btn-xs btn-danger" href="/briefe/archivieren/{{ brief['rowid'] }}"><span class="fa fa-archive"></span> Archivieren</a>
              {% else %}
              <a class="btn btn-xs btn-success" href="/briefe/wiederherstellen/{{ brief['rowid'] }}"><span class="fa fa-archive"></span> Wiederherstellen</a>
              {% endif %}
            </td>
          {% endfor %}
        </tbody>

      </table>



    </div> <!-- /container -->

{% include "footer.html" %}
