
{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <h3>Einstellungen</h3>

      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#stammdaten" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-paperclip"></span> Stammdaten</a>
        </li>
        <li>
          <a href="#berechnung" role="tab" data-toggle="tab"><span class="fa fa-calculator"></span> Berechnung</a>
        </li>
        <li>
          <a href="#firmenlogo" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span> Firmenlogo</a>
        </li>
        <li>
          <a href="#backup" role="tab" data-toggle="tab"><span class="fa fa-dropbox"></span> Cloud-Backup</a>
        </li>
        <li>
          <a href="#lcd" role="tab" data-toggle="tab"><span class="fa fa-television"></span> LCD-Display</a>
        </li>
      </ul>

      <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/einstellungen/speichern">

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="stammdaten">
            <div class="clearfix">&nbsp;</div>
            <div class="form-group">
              <label for="firmenname" class="col-sm-2 control-label">Firmenname</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="firmenname" name="firmenname" value="{{ einstellungen['firmenname'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="inhaber" class="col-sm-2 control-label">Inhaber</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inhaber" name="inhaber" value="{{ einstellungen['inhaber'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="strasse" class="col-sm-2 control-label">Stra&szlig;e/Nummer</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="strasse" name="strasse" value="{{ einstellungen['strasse'] }}" />
              </div>
              <div class="col-sm-4">
                <input type="text" maxlength="5" class="form-control" id="hausnummer" name="hausnummer" value="{{ einstellungen['hausnummer'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="plz" class="col-sm-2 control-label">PLZ/Ort</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" maxlength="5" id="plz" name="plz" value="{{ einstellungen['plz'] }}" />
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="ort" name="ort" value="{{ einstellungen['ort'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="telefonnummer" class="col-sm-2 control-label">Telefonnummer</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="telefonnummer" name="telefonnummer" value="{{ einstellungen['telefonnummer'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="telefaxnummer" class="col-sm-2 control-label">Faxnummer</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="telefaxnummer" name="telefaxnummer" value="{{ einstellungen['telefaxnummer'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" value="{{ einstellungen['email'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="ustid" class="col-sm-2 control-label">Ust-ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="ustid" name="ustid" value="{{ einstellungen['ustid'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="kleinunternehmer" class="col-sm-2 control-label">Kleinunternehmer</label>
              <div class="col-sm-10">
                    <select name="kleinunternehmer" class="form-control">
                        <option value="0"{% if einstellungen['kleinunternehmer'] == '0' %}selected="selected"{% endif %}>nein</option>
                        <option value="1"{% if einstellungen['kleinunternehmer'] == '1' %}selected="selected"{% endif %}>ja</option>
                    </select>
              </div>
            </div>
            <div class="form-group">
              <label for="ustsatz" class="col-sm-2 control-label">USt-Satz</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="ustsatz" name="ustsatz" value="{{ einstellungen['ustsatz'] }}" />
              </div>
            </div>
          </div>

        <div role="tabpanel" class="tab-pane" id="firmenlogo">
          <div class="clearfix">&nbsp;</div>
          <div class="form-group">
            <label for="logobild" class="col-sm-2 control-label">Firmenlogo</label>
            <div class="col-sm-10">
              <input type="file" name="logobild" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-10">
              <p>
                Bildformate: nur PNG, Ma&szlig;e mindestens 200x220 Pixel!
              </p>
            </div>
          </div>
          {% if has_logo %}
          <div class="form-group">
            <div class="col-sm-2 text-right">
              <strong>Aktuelles Bild</strong>
            </div>
            <div class="col-sm-10">
              <img src="/assets/firmenlogo.png" class="img" width="200" height="220" />
            </div>
          </div>
          {% endif %}

        </div>

        <div role="tabpanel" class="tab-pane" id="berechnung">
          <div class="clearfix">&nbsp;</div>
          <div class="form-group">
            <label for="ekpreis_berechnung" class="col-sm-2 control-label">EK-Preis-Berechnung</label>
            <div class="col-sm-10">
              <div class="radio">
                <label>
                  <input type="radio" name="ekpreis_berechnung" value="1"{% if einstellungen['ekpreis_berechnung'] == '1' %} checked="checked"{% endif %} />
                  Nach letztem Wareneingang
                </label>
                <label>
                  <input type="radio" name="ekpreis_berechnung" value="2"{% if einstellungen['ekpreis_berechnung'] == '2' %} checked="checked"{% endif %} />
                  Durchschnitt aus allen Wareneing&auml;ngen
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-10">
              <p>
                Bildformate: nur PNG, Ma&szlig;e mindestens 200x220 Pixel!
              </p>
            </div>
          </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="backup">
          <div class="clearfix">&nbsp;</div>
          <div class="form-group">
            <label for="dropbox_api_key" class="col-sm-3 control-label">Dropbox API-Key</label>
            <div class="col-sm-9">
              <input type="text" name="dropbox_api_key" class="form-control" value="{{ einstellungen['dropbox_api_key'] }}"/>
            </div>
          </div>
          <div class="form-group">
            <label for="backup_passwort" class="col-sm-3 control-label">Passwort*</label>
            <div class="col-sm-9">
              <input type="text" name="backup_passwort" class="form-control" value="{{ einstellungen['backup_passwort'] }}"/>
            </div>
          </div>
          <div class="form-group">
            <label for="backupfrequenz" class="col-sm-3 control-label">Backup-Frequenz</label>
            <div class="col-sm-9">
              <select name="backupfrequenz" id="backupfrequenz" class="form-control">
                <option value="0"{% if einstellungen['backupfrequenz'] == '0' %} selected="selected"{% endif %}>aus (nicht empfohlen!)</option>
                <option value="60"{% if einstellungen['backupfrequenz'] == '60' %} selected="selected"{% endif %}>alle 60 Minuten</option>
                <option value="120"{% if einstellungen['backupfrequenz'] == '120' %} selected="selected"{% endif %}>alle 2 Stunden</option>
                <option value="240"{% if einstellungen['backupfrequenz'] == '240' %} selected="selected"{% endif %}>alle 4 Stunden</option>
                <option value="360"{% if einstellungen['backupfrequenz'] == '360' %} selected="selected"{% endif %}>alle 6 Stunden</option>
                <option value="480"{% if einstellungen['backupfrequenz'] == '480' %} selected="selected"{% endif %}>alle 8 Stunden</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="max_backups" class="col-sm-3 control-label">Backup-Dateien aufbewahren</label>
            <div class="col-sm-9">
              <select name="max_backups" id="max_backups" class="form-control">
                <option value="1"{% if einstellungen['max_backups'] == '0' %} selected="selected"{% endif %}>1 Datei (nicht empfohlen!)</option>
                <option value="5"{% if einstellungen['max_backups'] == '5' %} selected="selected"{% endif %}>5 Dateien</option>
                <option value="10"{% if einstellungen['max_backups'] == '10' %} selected="selected"{% endif %}>10 Dateien</option>
                <option value="15"{% if einstellungen['max_backups'] == '15' %} selected="selected"{% endif %}>15 Dateien</option>
                <option value="20"{% if einstellungen['max_backups'] == '20' %} selected="selected"{% endif %}>20 Dateien</option>
                <option value="25"{% if einstellungen['max_backups'] == '25' %} selected="selected"{% endif %}>25 Dateien</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <p>
                * Backup-Dateien werden mit diesem Passwort verschl&uuml;sselt. <strong>Verlieren Sie dieses Passwort nicht</strong> - die Backup-Dateien k&ouml;nnen sonst nicht wieder entschl&uuml;sselt werden!
            </p>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="lcd">
          <div class="clearfix">&nbsp;</div>
          {% if is_raspi == True %}
            <div class="form-group">
              <label for="enable_lcd" class="col-sm-2 control-label">LCD-Display aktiviert</label>
              <div class="col-sm-10">
                    <select name="enable_lcd" class="form-control">
                        <option value="0"{% if einstellungen['enable_lcd'] == '0' %}selected="selected"{% endif %}>nein</option>
                        <option value="1"{% if einstellungen['enable_lcd'] == '1' %}selected="selected"{% endif %}>ja</option>
                    </select>
              </div>
            </div>
            <div class="form-group">
              <label for="lcd_greeting_line1" class="col-sm-2 control-label">Begr&uuml;&szlig;ung (Zeile 1)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" maxlength="20" id="lcd_greeting_line1" name="lcd_greeting_line1" value="{{ einstellungen['lcd_greeting_line1'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="lcd_greeting_line2" class="col-sm-2 control-label">Begr&uuml;&szlig;ung (Zeile 2)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" maxlength="20" id="lcd_greeting_line2" name="lcd_greeting_line2" value="{{ einstellungen['lcd_greeting_line2'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="lcd_greeting_line3" class="col-sm-2 control-label">Begr&uuml;&szlig;ung (Zeile 3)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" maxlength="20" id="lcd_greeting_line3" name="lcd_greeting_line3" value="{{ einstellungen['lcd_greeting_line3'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="lcd_greeting_line4" class="col-sm-2 control-label">Begr&uuml;&szlig;ung (Zeile 4)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" maxlength="20" id="lcd_greeting_line4" name="lcd_greeting_line4" value="{{ einstellungen['lcd_greeting_line4'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="lcd_goodbye_line1" class="col-sm-2 control-label">Verabschiedung (Zeile 1)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" maxlength="20" id="lcd_goodbye_line1" name="lcd_goodbye_line1" value="{{ einstellungen['lcd_goodbye_line1'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="lcd_goodbye_line3" class="col-sm-2 control-label">Verabschiedung (Zeile 3)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" maxlength="20" id="lcd_goodbye_line3" name="lcd_goodbye_line3" value="{{ einstellungen['lcd_goodbye_line3'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="lcd_goodbye_line4" class="col-sm-2 control-label">Verabschiedung (Zeile 4)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" maxlength="20" id="lcd_goodbye_line4" name="lcd_goodbye_line4" value="{{ einstellungen['lcd_goodbye_line4'] }}" />
              </div>
            </div>
            <div class="form-group">
              <label for="lcd_goodbye_line2" class="col-sm-2 control-label">Verabschiedung (Zeile 2)</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" maxlength="20" id="lcd_goodbye_line2" name="lcd_goodbye_line2" value="{{ einstellungen['lcd_goodbye_line2'] }}" />
              </div>
            </div>
            {% else %}
              <div class="alert alert-warning">LCD-Displays werden nur auf einem Raspberry Pi unterst&uuml;tzt!</div>
            {% endif %}
          </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Speichern</button>
            </div>
          </div>
        </div>



      </form>

    </div> <!-- /container -->


{% include "footer.html" %}
