{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <a class="btn btn-primary" href="/konten/neu"><span class="glyphicon glyphicon-plus"></span> Neues Konto anlegen</a>
      <h3>Kontoverwaltung</h3>
      {% if show_delete %}
      <div class="alert alert-danger">
        <strong>Achtung:</strong> Das L&ouml;schen eines Kontos ist <strong>endg&uuml;ltig</strong> und l&ouml;scht auch <strong>alle Buchungen</strong> des Kontos!
      </div>
      {% endif %}
      <table class="table table-striped table-condensed">
        <thead>
          <th>Kontobezeichnung</th>
          <th>IBAN</th>
          <th>BIC</th>
          <th>Bank</th>
          <th>Optionen</th>
        </thead>
        <tbody>
          {% for konto in konten %}
          <tr>
            <td>{{ konto['bezeichnung'] }}</td>
            <td>{% if konto['is_kasse'] == 0 %}{{ konto['iban'] }}{% else %}&mdash;{% endif %}</td>
            <td>{% if konto['is_kasse'] == 0 %}{{ konto['bic'] }}{% else %}&mdash;{% endif %}</td>
            <td>{% if konto['is_kasse'] == 0 %}{{ konto['bankname'] }}{% else %}&mdash;{% endif %}</td>
            <td>
              <a class="btn btn-xs btn-default" href="/konten/bearbeiten/{{ konto['rowid'] }}"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</a>
              {% if show_delete %}
              <a class="btn btn-xs btn-danger" href="/konten/loeschen/{{ konto['rowid'] }}"><span class="glyphicon glyphicon-remove"></span> L&ouml;schen</a>
              {% endif %}
            </td>
          {% endfor %}
        </tbody>

      </table>



    </div> <!-- /container -->

{% include "footer.html" %}
