{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <a class="btn btn-primary" href="/kunden/neu"><span class="glyphicon glyphicon-plus"></span> Neuen Kunden anlegen</a>
      <h3>Kundenverwaltung</h3>
      <table class="table table-striped table-condensed">
        <thead>
          <th>Kundennr.</th>
          <th>Name, Vorname</th>
          <th>Ort</th>
          <th>Umsatz</th>
          <th>Rohgewinn</th>
          <th class="text-right">Optionen</th>
        </thead>
        <tbody>
          {% for kunde in kunden %}
          <tr{% if kunde['archiviert'] == 1 %} class="text-muted"{% endif %}>
            <td>{{ kunde['rowid'] }}</td>
            <td>{{ kunde['nachname'] }}, {{ kunde['vorname'] }}</td>
            <td>{{ kunde['ort'] }}</td>
            <td></td>
            <td></td>
            <td class="text-right">
              <a class="btn btn-xs btn-default" href="/kunden/bearbeiten/{{ kunde['rowid'] }}"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</a>
              {% if kunde['archiviert'] == 0 %}
              <a class="btn btn-xs btn-danger" href="/kunden/archivieren/{{ kunde['rowid'] }}"><span class="fa fa-archive"></span> Archivieren</a>
              {% else %}
              <a class="btn btn-xs btn-success" href="/kunden/wiederherstellen/{{ kunde['rowid'] }}"><span class="fa fa-archive"></span> Wiederherstellen</a>
              {% endif %}
            </td>
          {% endfor %}
        </tbody>

      </table>



    </div> <!-- /container -->

{% include "footer.html" %}
