{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <a class="btn btn-primary" href="/kunden/neu">Neuen Kunden anlegen</a>
      <h3>Kundenverwaltung</h3>
      <table class="table table-striped table-condensed">
        <thead>
          <th>Kundennr.</th>
          <th>Name, Vorname</th>
          <th>Ort</th>
          <th>Umsatz</th>
          <th>Rohgewinn</th>
          <th>Optionen</th>
        </thead>
        <tbody>
          {% for kunde in kunden %}
          <tr>
            <td>{{ kunde[0] }}</td>
            <td>{{ kunde[2] }}, {{ kunde[1] }}</td>
            <td>{{ kunde[6] }}</td>
            <td></td>
            <td></td>
            <td>
              <a class="btn btn-default" href="/kunden/bearbeiten/{{ kunde[0] }}">Bearbeiten</a> <a class="btn btn-danger" href="/kunden/loeschen/{{ kunde[0] }}">L&ouml;schen</a>
            </td>
          {% endfor %}
        </tbody>

      </table>



    </div> <!-- /container -->

{% include "footer.html" %}
