{% include "header.html" %}

    {% include "nav.html" %}


    <div class="container">

      <a class="btn btn-primary" href="/lieferanten/neu"><span class="glyphicon glyphicon-plus"></span> Neuen Lieferanten anlegen</a>
      <h3>Lieferantenverwaltung</h3>
      <table class="table table-striped table-condensed">
        <thead>
          <th>Firmenname</th>
          <th class="text-right">Optionen</th>
        </thead>
        <tbody>
          {% for lieferant in lieferanten %}
          <tr{% if lieferant['archiviert'] == 1 %} class="text-muted"{% endif %}>
            <td>{{ lieferant['firmenname'] }}</td>
            <td class="text-right">
              <a class="btn btn-xs btn-default" href="/lieferanten/bearbeiten/{{ lieferant['rowid'] }}"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</a>
              {% if lieferant['archiviert'] == 0 %}
              <a class="btn btn-xs btn-danger" href="/lieferanten/archivieren/{{ lieferant['rowid'] }}"><span class="fa fa-archive"></span> Archivieren</a>
              {% else %}
              <a class="btn btn-xs btn-success" href="/lieferanten/wiederherstellen/{{ lieferant['rowid'] }}"><span class="fa fa-archive"></span> Wiederherstellen</a>
              {% endif %}
            </td>
          {% endfor %}
        </tbody>

      </table>



    </div> <!-- /container -->

{% include "footer.html" %}
