<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {%if page_id == "index" %}class="active"{% endif %}><a href="/"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-barcode"></i> Sortimentsverwaltung <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/artikel"><i class="glyphicon glyphicon-barcode"></i> Artikel</a></li>
            <li><a href="/warengruppen"><i class="glyphicon glyphicon-th-list"></i> Warengruppen</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> Adressverwaltung <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/lieferanten"><i class="glyphicon glyphicon-gift"></i> Lieferanten</a></li>
            <li><a href="/kunden"><i class="glyphicon glyphicon-user"></i> Kunden</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-envelope"></i> Rechnungen <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/eingangsrechnungen"><i class="glyphicon glyphicon-arrow-right"></i> Eingangsrechnungen</a></li>
            <li><a href="/ausgangsrechnungen"><i class="glyphicon glyphicon-arrow-left"></i> Ausgangsrechnungen</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-book"></i> Buchhaltung <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/buchungskonten"><i class="glyphicon glyphicon-usd"></i> Buchungskonten</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> Einstellungen <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/einstellungen"><i class="glyphicon glyphicon-wrench"></i> Allgemein</a></li>
            <li><a href="/konten"><i class="glyphicon glyphicon-credit-card"></i> Konten</a></li>
            <li><a href="/backups"><i class="glyphicon glyphicon-cloud"></i> Backups</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
