<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style type="text/css">
    {{ bootstrap_css }}
    </style>
    <style type="text/css">
      body {
        padding: 10px;

      }
      .spacer {
        height: 3em;
      }

      .spacer-small {
        height: 1.5em;
      }

      .mleft {
        margin-left: 1.5em;

      }

      p {
          font-size: 12pt;
      }

      .datum {
        font-size: 12pt;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left">
          <img src="data:image/png;base64,{{ firmenlogo }}" class="img pull-right" width="200" height="220"/>
          <h4>{{ stammdaten['firmenname'] }}</h4>
          <h5>{{ stammdaten['inhaber'] }}</h5>
          <h5>{{ stammdaten['strasse'] }} {{ stammdaten['hausnummer'] }}</h5>
          <h5>{{ stammdaten['plz'] }} {{ stammdaten['ort'] }}</h5>
          <h5>Fon {{ stammdaten['telefonnummer'] }}</h5>
          {% if stammdaten['telefaxnummer']|trim != '' %}
          <h5>Fax {{ stammdaten['telefaxnummer'] }}</h5>
          {% endif %}
          {% if stammdaten['email']|trim != '' %}
          <h5>{{ stammdaten['email'] }}</h5>
          {% endif %}
          {% if stammdaten['ustid']|trim != '' %}
          <h5>USt-Id: {{ stammdaten['ustid'] }}</h5>
          {% endif %}

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 spacer">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-12 spacer">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% if brief['empfaenger_typ'] == '1' %}
          <h4>{{ empfaenger['anrede'] }}{% if empfaenger['titel'] != None and empfaenger['titel']|trim != "" %} {{ empfaenger['titel'] }}{% endif %}</h4>
          <h4>{{ empfaenger['vorname']}} {{ empfaenger['nachname'] }}</h4>
          <h4>{{ empfaenger['strasse']}} {{ empfaenger['hausnummer'] }}</h4>
          <h4>{{ empfaenger['plz']}} {{ empfaenger['ort'] }}</h4>
          {% else %}
          <h4>{{ empfaenger['firmenname'] }}</h4>
          <h4>{% if brief['zuhaenden']|trim != '' %}{{ brief['zuhaenden']}}{% else %}{{ empfaenger['empfaenger'] }}{% endif %}</h4>
          <h4>{{ empfaenger['strasse']}} {{ empfaenger['hausnummer'] }}</h4>
          <h4>{{ empfaenger['plz']}} {{ empfaenger['ort'] }}</h4>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 spacer">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right datum">
          {{ stammdaten['ort'] }}, den {{ brief['datum'] }}<br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 spacer">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            <h4>{{ brief['betreff'] }}</h4>
          </p>
          <p class="spacer-small">&nbsp;</p>
          <p>
            {% if brief['empfaenger_typ'] == '1' %}
            Sehr geehrte{% if empfaenger['anrede'] == 'Herr' %}r{% endif %} {{ empfaenger['anrede'] }} {{ empfaenger['nachname'] }},
            {% else %}
            Sehr geehrte Damen und Herren,
            {% endif %}
          </p>
          <p class="spacer-small">&nbsp;</p>
          </p>
          <p>
            {{ brief['inhalt'] }}
          </p>
          <p class="spacer-small">&nbsp;</p>
          <p class="spacer">
            Mit freundlichen Gr&uuml;&szlig;en,
          </p>
          <p class="spacer-small">&nbsp;</p>
          <p class="spacer">
            {{ stammdaten['inhaber'] }}
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
